name: Publish

on:
  release:
    types: [published]

jobs:
  publish:
    environment:
      name: pypi
      url: https://pypi.org/project/pixel-font-builder/
    permissions:
      id-token: write
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.x"
      - name: Install dependencies
        run: |
          python -m pip install pip --upgrade
          python -m pip install build
      - name: Build
        run: python -m build
      - name: Publish
        uses: pypa/gh-action-pypi-publish@release/v1
