name: Publish

on:
  release:
    types: [published]

jobs:
  publish:
    environment:
      name: pypi
      url: https://pypi.org/project/pixel-font-builder/
    permissions:
      id-token: write
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Setup uv
        uses: astral-sh/setup-uv@v7
        with:
          python-version: "3.14"
      - name: Install dependencies
        run: uv sync
      - name: Build
        run: uv build
      - name: Publish
        run: uv publish
